@use "sass:map";
@use "/src/styles/theme";
@use "/src/styles/utils";

.dialog {
    &__overlay {
        position: fixed;
        inset: 0;
        background-color: map.get(theme.$colors, black-16);
    }

    &__content {
        @include utils.card-shadow;

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        gap: 24px;

        width: 312px;
        padding: 24px;
        border-radius: 8px;

        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.25px;
        vertical-align: middle;

        background-color: map.get(theme.$colors, white);

    }

    &__title {
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.3px;
        vertical-align: middle;
    }



    &__actions {
        display: flex;
        gap: 16px;

        &>button {
            width: 100%;
        }
    }
}